*,
*:hover,
*:visited,
*:active {
  color: inherit;
  text-decoration: none;
}

.app_container {
  left: 50%;
  transform: translate(-50%, 0);

  width: 1920px;
  height: 1080px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  position: absolute;
}
