.big_container {
  width: 100%;
  height: 100%;
  background-color: #ffdede;
}

.main_container {
  position: absolute;
  margin-top: 65px;
  padding: 0px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 1920px;
  height: 1015px;
  border: 0px;
  overflow: hidden;

  background-color: #ffdede;
}

.puzzle_rectangle {
  position: absolute;
  width: 744px;
  height: 684px;
  left: 929px;
  top: 376px;

  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(16.34deg);
}

.top_circle {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 202px;
  top: -170px;

  border-radius: 50%;

  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right_circle {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 574px;
  top: 172px;

  border-radius: 50%;

  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left_circle {
  position: absolute;
  width: 340px;
  height: 340px;
  left: -170px;
  top: 172px;

  border-radius: 50%;

  background: rgba(2, 117, 252, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  position: absolute;
  width: 1089px;
  height: 144px;
  left: 16px;
  top: 596px;

  font-family: "Libre Barcode 39 Extended Text";
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 144px;

  color: #ffffff;
}

.subtitle {
  position: absolute;
  width: 733px;
  height: 148px;
  left: 31px;
  top: 762px;

  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  color: #111111;
}
