.modal_container {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px grey solid;
  border-radius: 30px;
  background-color: white;

  z-index: 99;

  :last-child {
    border: none;
  }
}

.modal_title {
  position: absolute;
  width: 126px;
  height: 30px;
  left: 452px;
  top: 44px;

  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  color: #4d4d4d;
}

.stack_container {
  margin-top: 14%;
  padding-left: 20px;
  padding-top: 20px;
  width: 33.33%;
  height: 75%;

  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 14%;
  row-gap: 9%;

  border-right: 1px solid #000000;
}

.stack_type {
  position: absolute;
  width: 116px;
  height: 30px;

  font-size: 24px;
  line-height: 30px;

  color: #858585;
}

.stack_item {
  position: relative;
  width: 40%;
  height: 12%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  line-height: 30px;
  color: #4d4d4d;
}

.dot {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  border-radius: 4em;
}

.t {
  top: -0.6em;
  left: 50%;
  transform: translate(-50%, 0);
}

.b {
  bottom: -0.6em;
  left: 50%;
  transform: translate(-50%, 0);
}

.r {
  top: 50%;
  left: -0.6em;
  transform: translate(0, -50%);
}

.l {
  top: 50%;
  right: -0.6em;
  transform: translate(0, -50%);
}

.stack_item_name {
  z-index: 1;
}

.close_button {
  position: absolute;
  top: 22px;
  right: 100.5px;
}
