.round_button {
  width: 340px;
  height: 340px;
  border: none;
  border-radius: 200px;
  outline: none;
  text-align: center;
  line-height: 320px;
  font-size: 2em;
  cursor: pointer;

  &.about {
    background: rgba(2, 117, 252, 0.6);
    position: absolute;
    left: 369px;
    top: 401px;
  }

  &.our_projects {
    background: white;
    position: absolute;
    left: 896px;
    top: 173px;
    box-shadow: inset 0px 4px 3px rgb(175, 173, 173);
  }

  &.my_projects {
    background: white;
    position: absolute;
    left: 1116px;
    top: 545px;
    box-shadow: inset 0px 4px 3px rgb(175, 173, 173);
  }
}
