.round_button {
  width: 17vw;
  height: 17vw;
  border: none;
  border-radius: 200px;
  outline: none;
  text-align: center;
  line-height: 17vw;
  font-size: 2em;
  cursor: pointer;

  &.about {
    background: rgba(2, 117, 252, 0.6);
    position: fixed;
    left: 20.625%;
    top: 37.1%;
  }

  &.our_projects {
    background: white;
    position: fixed;
    left: 46.7%;
    top: 16.1%;
    box-shadow: inset 0px 4px 3px rgb(175, 173, 173);
  }

  &.my_projects {
    background: white;
    position: fixed;
    left: 58.125%;
    top: 50.46%;
    box-shadow: inset 0px 4px 3px rgb(175, 173, 173);
  }
}
