button {
  background-color: transparent;
  border: none;
  transition: all 0.1s;
}
button:hover {
  cursor: pointer;
}
#left-arrow {
  transform: rotate(0.5turn);
}
#left-arrow:hover {
  transform: rotate(0.5turn) scale(1.2);
}
#right-arrow:hover {
  transform: scale(1.2);
}
