.navigation_container {
  position: absolute;

  width: 100%;
  height: 65px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  position: absolute;

  color: #4d4d4d;
  background-color: #e3e3e3;
}

.login_container {
  /* Login Container 9 */
  position: absolute;
  width: 412px;
  height: 65px;
  left: 0px;
  top: 0px;

  background: #ffdede;
}

.login_btn {
  /* Login Button 9 */
  position: absolute;
  width: 196px;
  height: 41px;
  left: calc(50% - 196px / 2);
  top: 12px;

  background: #ffdede;
  border: 1px solid #858585;
  box-sizing: border-box;
  border-radius: 50px;
}

.login_btn:hover {
  cursor: pointer;
}

.navigation_my_page_btn {
  /* My page button */

  position: absolute;
  height: 65px;
  left: 412px;
  top: 0px;
}

.navigation_find_project_btn {
  /* Find Project button */

  position: absolute;
  height: 65px;
  left: 640px;
  top: 0px;
}

.navigation_find_engineer_btn {
  /* Find Engineer button */

  position: absolute;
  height: 65px;
  left: 872px;
  top: 0px;
}

.divider1 {
  position: absolute;
  height: 35px;
  left: 621px;
  top: 15px;

  border-left: 1px solid #4d4d4d;

  z-index: 10;
}

.divider2 {
  position: absolute;
  height: 35px;
  left: 869px;
  top: 15px;

  border-left: 1px solid #4d4d4d;

  z-index: 10;
}

.logo_container {
  height: 65px;

  position: absolute;
  right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  color: #111111;
}

span.my_page {
  position: absolute;
  width: 160px;
  height: 23px;
  left: 75px;
  top: 22px;
  cursor: pointer;
}

span.find_project {
  position: absolute;
  width: 160px;
  height: 23px;
  left: 64px;
  top: 22px;
  cursor: pointer;
}

span.find_engineer {
  position: absolute;
  width: 160px;
  height: 23px;
  left: 70px;
  top: 22px;
  cursor: pointer;
}

span.navigation_container:hover {
  cursor: pointer;
}
